header {
  position: absolute;
  z-index: 3;
  width: 100svw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;

  @media (min-width: 2000px) {
    padding: 60px;
  }

  .logo {
    font-family: sans-serif;
    font-size: 1.8rem;
    letter-spacing: 1.5px;
    font-weight: 300;
    transition: color 0.3s ease-in-out;
    scale: var(--scale);
    transform-origin: left;
  }

  button {
    display: block;
    width: 95px;
    height: 34px;
    font-size: 0.87rem;
    color: white;
    text-transform: uppercase;
    background-color: black;
    transition: background-color 0.3s ease-in-out;
    scale: var(--scale);
    transform-origin: right;

    &:hover {
      background-color: #303030;
    }
  }


  &:has(~ .building-preview:not(.hide):not(.not-invert)) {
    .logo {
      color: white;
    }

    button {
      color: black;
      background-color: white;

      &:hover {
        background-color: #ededed;
      }
    }
  }
}
