.building-gallery {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 9999;
  width: 100svw;
  height: 100svh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba($color: #1e1e1e, $alpha: 0.6);
  backdrop-filter: blur(10px);

  .close {
    position: absolute;
    top: 2.2%;
    right: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    transform-origin: right;

    img {
      filter: invert(100%);
      width: 22px;
      height: 22px;
    }

    @media (min-width: 2000px) {
      scale: calc(var(--scale) * 1.2);
    }
  }

  .images-container {
    width: 100svw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(2.6%, -50%);

    .wrapper {
      --img-width: 680px;
      --img-height: 470px;
      --gap: 165px;
      --left-corner-pos: calc(-1 * var(--img-width) / 1.83);
      --distance-between-images: calc(var(--img-width) + var(--gap));

      display: flex;
      gap: var(--gap);
      scale: var(--scale);
      transition: transform 0.3s ease-in-out;

      @media (min-width: 2000px) {
        --left-corner-pos: calc(0.5 * 100vw - 1280px);
      }


      img {
        width: var(--img-width);
        height: var(--img-height);
        transition: scale 0.3s ease-in-out;

        &.selected {
          scale: 1.1;
        }
      }
    }
  }

  .arrows {
    position: absolute;
    width: 885px;
    display: flex;
    justify-content: space-between;
    scale: var(--scale);

    img {
      cursor: pointer;
    }
  }

  .progress {
    position: absolute;
    bottom: 15%;
    z-index: 999;
    width: 560px;
    height: 1px;
    background-color: white;
    scale: var(--scale);

    .bar {
      position: absolute;
      top: -2.5px;
      left: 0;
      width: 25px;
      height: 5px;
      background-color: white;
      transition: left 0.3s ease-in-out;
    }
  }

  .center {
    width: 748px;
    height: 517px;
    background-color: red;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    z-index: 9999;
  }
}
