.hint {
  position: absolute;
  bottom: -100px;
  right: 8%;
  transform: translate(50%, -5px);
  z-index: 4;
  width: 155px;
  height: 95px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  color: black;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  text-transform: uppercase;
  backdrop-filter: blur(3px);
  padding: 15px;
  padding-top: 10px;
  border: 1px solid white;
  border-radius: 15px;
  pointer-events: none;
  transition: bottom 0.5s ease-in-out;


  @media (max-width: 1200px) {
    right: 11%;
  }

  @media (max-width: 825px) {
    right: 50%;
  }

  &:has(~.building-panel) {
    right: unset !important;
    z-index: 3;
    left: 836px;
    height: 88px;
    color: white;
    background-color: rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    border: 1px solid #c3c3c3;
    border-radius: 40px;

    img {
      filter: invert(100%);
    }

    @media (max-width: 1600px) {
      left: 720px;
    }

    @media (max-width: 1465px) {
      left: 650px;
      height: 68px;
      gap: 10px;
      font-size: 0.9rem;

      img {
        width: 25px;
        height: 25px;
      }
    }

    &.show {
      @media (max-width: 1300px) {
        left: calc(100svw - 265px);
        bottom: calc(4.5% + 6px);
        width: 150px;
        height: 55px;
        //flex-direction: row;
        gap: 3px;
        background-color: transparent;
        backdrop-filter: unset;
        border-color: white;
      }

      @media (max-width: 800px) {
        left: calc(100svw - 255px);
      }

      @media (max-width: 600px) {
        left: calc(100svw - 250px);
      }

      @media (max-width: 400px) {
        left: calc(100svw - 245px);
      }
    }
  }

  &.show {
    bottom: 40px;
    padding: 0;
  }

  .icon {
    position: relative;

    &.default {
      @media (max-width: 1200px) {
        display: none;
      }
    }

    &.mobile {
      display: none;

      @media (max-width: 1200px) {
        display: block;
      }
    }

    &.map-scene {
      animation: moveAllDirections 2.5s ease-in-out infinite;
    }

    &.build-scene {
      animation: moveLeftAndRight 1.5s ease-in-out infinite;
    }

    @keyframes moveAllDirections {
      0% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }

      12% {
        top: 0;
        right: -25px;
        rotate: 10deg;
      }

      24% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }

      36% {
        top: 0;
        right: 25px;
        rotate: -10deg;
      }

      48% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }

      60% {
        top: -10px;
        right: 0;
        rotate: 0;
      }

      72% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }

      84% {
        top: 10px;
        right: 0;
        rotate: 0deg;
      }

      96% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }
    }

    @keyframes moveLeftAndRight {
      0% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }

      20% {
        top: 0;
        right: -25px;
        rotate: 10deg;
      }

      40% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }

      60% {
        top: 0;
        right: 25px;
        rotate: -10deg;
      }

      80% {
        top: 0;
        right: 0;
        rotate: 0deg;
      }
    }
  }
}
