.project-details {
  display:  none;

  @media (max-width: 1300px) {
    display: block;
    position: absolute;
    left: 50%;
    bottom: 120px;
    z-index: 3;
    font-size: 1.4rem;
    color: white;
    background-color: rgba($color: black, $alpha: 0.2);
    backdrop-filter: blur(10px);
    border-radius: 40px;
    transform: translate(-50%, 0);
    width: 95%;
    height: 68px;
    cursor: pointer;
    border: 1px solid #c3c3c3;
  }
}

.building-panel {
  position: absolute;
  left: 50px;
  bottom: 4.5%;
  z-index: 3;
  width: 836px;
  height: 88px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgba($color: black, $alpha: 0.2);
  backdrop-filter: blur(10px);
  padding: 20px;
  border: 1px solid #c3c3c3;
  border-radius: 40px;
  scale: var(--scale);
  transform-origin: left;

  button {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    font-size: 1rem;
    font-weight: 300;
    padding: 3px 10px;
    border-radius: 40px;

    &:hover {
      background-color: #009FA4;
      border-color: #009FA4;
    }

    @media (max-width: 800px) {
      width: 34px;
      height: 34px;
      border-radius: 50%;
      padding: 0;
    }
  }

  >div {
    display: flex;
    gap: 15px;

    img {
      display: none;
    }
  }

  @media (max-width: 1600px) {
    width: 720px;
  }

  @media (max-width: 1465px) {
    width: 650px;
    height: 68px;
    padding: 15px;

    button {
      font-size: 0.9rem;
    }
  }

  @media (max-width: 1300px) {
    width: 95%;
    left: 50%;
    transform: translate(-50%, 0);
    justify-content: flex-start;
    gap: 12.5px;

    >div {
      gap: 10px;
    }
  }

  @media (max-width: 820px) {
    span {
      display: none;
    }

    >div {
      button {
        width: 34px;
        height: 34px;
        border-radius: 50%;
        padding: 0;

        img {
          display: block;
        }
      }
    }
  }

  @media (max-width: 415px) {
    >div {
      gap: 5px;
    }
  }
}
