.loading-screen {
  position: absolute;
  z-index: 4;
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  backdrop-filter: blur(15px);
  transition: top 0.5s ease-in-out;
  overflow: hidden;

  .video-wrapper {
    position: relative;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: filter 0.5s ease-in-out;

    video {
      /* Make video to at least 100% wide and tall */
      min-width: 100%;
      min-height: 100%;

      /* Setting width & height to auto prevents the browser from stretching or squishing the video */
      width: auto;
      height: auto;

      /* Center the video */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &:has(+ .intro button:hover) {
      filter: blur(10px);
    }
  }

  .intro {
    position: absolute;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 125px;
    text-align: center;
    background: linear-gradient(transparent, black);
    scale: var(--scale);
  }

  .logo {
    font-family: sans-serif;
    font-size: 1.5rem;
    letter-spacing: 1.5px;
    font-weight: 300;
  }

  h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: -2px;
    line-height: 3rem;
  }

  .wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;

    .loading {
      position: relative;
      overflow: hidden;
      transition: transform 0.5s ease-in-out;
      transition-delay: 0.3s;

      p {
        font-size: 1.25rem;
        margin-bottom: 10px;
      }

      &-progress {
        transform: translate(-100%, 0);
        height: 5px;
        background-color: white;
        transition: transform 0.3s ease-in-out;
        border-radius: 10px;
      }
    }

    button {
      display: inline-block;
      width: 104px;
      height: 33px;
      font-size: 1rem;
      font-weight: 400;
      text-transform: uppercase;
      transform: translate(0, 100%);
      transition: transform 0.5s ease-in-out 0.3s, background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
    }

    &.swipe {

      .loading,
      button {
        transform: translate(0, -100%);
      }
    }
  }
}
