.building-preview {
  position: relative;
  z-index: 2;
  width: 100svw;
  height: 100svh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  transition: opacity 0.5s ease-in-out;

  &.hide {
    opacity: 0;
    pointer-events: none;
  }
}

.view-in-3d {
  position: absolute;
  left: calc(836px + 150px);
  bottom: 43px;
  z-index: 3;
  width: 180px;
  height: 69px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 1.1rem;
  color: white;
  text-transform: uppercase;
  background-color: rgba(0, 0, 0, 0.2);
  backdrop-filter: blur(10px);
  padding: 5px 0 5px 10px;
  border-radius: 40px;
  
  scale: var(--scale);
  bottom: 5%;
  left: 920px;

  @media (min-width: 2000px) {
    left: 52%;
  }

  @media (max-width: 1600px) {
    left: 800px;
  }

  @media (max-width: 1465px) {
    left: 720px;
    width: 150px;
    height: 49px;
  }

  @media (max-width: 1300px) {
    left: calc(100svw - 195px);
    bottom: calc(4.5% + 15px);
    height: 36px;
    padding: 0;
    background-color: transparent;
  }

  @media (max-width: 1000px) {
    left: calc(100svw - 190px);
  }

  @media (max-width: 600px) {
    left: calc(100svw - 175px);
  }

  @media (max-width: 400px) {
    left: calc(100svw - 160px);
    width: 135px;
  }
}

// 3D cube
.cube-wrap {
  --size: 15px;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  perspective: 100vmin;

  @media (max-width: 400px) {
    --size: 12px
  }

  .cube {
    transform-style: preserve-3d;
    transform: rotateX(-30deg) rotateZ(0) rotateY(45deg);
    animation: cube 5s linear infinite;

    @keyframes cube {
      0% {
        transform: rotateX(-30deg) rotateZ(0) rotateY(0);
      }

      100% {
        transform: rotateX(-30deg) rotateZ(0) rotateY(360deg);
      }
    }
  }

  .side {
    position: absolute;
    width: var(--size);
    height: var(--size);
    backface-visibility: visible;
    top: calc(var(--size) * -.5);
    left: calc(var(--size) * -.5);
    border: 0.75px solid white;

    &.top {
      transform: rotateX(90deg) translateZ(calc(var(--size) * .5));
    }

    &.bottom {
      transform: rotateX(90deg) translateZ(calc(var(--size) * -.5));
    }

    &.left {
      transform: rotateY(90deg) translateZ(calc(var(--size) * .5));
    }

    &.right {
      transform: rotateY(90deg) translateZ(calc(var(--size) * -.5));
    }

    &.front {
      transform: translateZ(calc(var(--size) * .5));
    }

    &.back {
      transform: translateZ(calc(var(--size) * -.5));
    }
  }
}
