.city-selector {
  --width: 125px;
  --height: 40px;

  position: relative;
  background-color: black;
  color: white;

  width: var(--width);
  height: var(--height);
  display: flex;
  padding: 8px 15px;

  cursor: pointer;
  text-transform: uppercase;

  &::after {
    content: '\25bc';
    position: absolute;
    top: 52%;
    right: 10%;
    transform: translate(0, -50%);
    font-size: 10px;
  }

  .selected-value {
    display: flex;
    align-self: center;
  }

  .options {
    position: absolute;
    left: 0;
    top: 100%;
    background-color: black;
    transform-origin: top;
    animation: reveal 0.1s ease-in-out forwards alternate;

    @keyframes reveal {
      from {
        transform: scaleY(0);
      }

      to {
        transform: scaleY(1);
      }
    }

    option {
      width: var(--width);
      height: var(--height);
      padding: 10px;
      border-top: 1px solid gray;

      &:hover {
        background-color: rgb(74, 74, 74);
      }
    }
  }
}
