.building-info {
  position: absolute;
  bottom: 50%;
  right: -428px;
  transform: translate(0, 50%) scale(var(--scale));
  transition: right 0.3s ease-in-out, bottom 0.3s ease-in-out;
  transform-origin: right;
  z-index: 3;

  @media (max-width: 1300px) {
    bottom: -100%;
    transform: translate(0, 0);
    right: 0;
    width: 100svw;
    height: 100svh;
    overflow: hidden;

    &.opened {
      bottom: 0;
    }
  }

  &.opened {
    right: 0;
  }

  button.toggle {
    position: absolute;
    left: -22px;
    top: 50%;
    transform: translate(0, -50%);
    width: 22px;
    height: 79px;
    text-align: center;
    background-color: rgba($color: black, $alpha: 0.2);
    backdrop-filter: blur(15px);
    border-radius: 20px 2px 2px 20px;

    img {
      &.default {
        transition: rotate 0.3s ease-in-out;
      }

      &.mobile {
        display: none;
      }
    }

    @media (max-width: 1300px) {
      top: 5px;
      left: 50%;
      z-index: 9999;
      width: 20px;
      height: 20px;
      padding: 0;
      transform: translate(-50%, 0);
      border-radius: 0;
      background-color: unset;
      backdrop-filter: none;

      img {
        &.default {
          display: none;
        }

        &.mobile {
          display: block;
        }
      }
    }
  }

  .info {
    width: 428px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
    //font-weight: 500;
    background-color: rgba($color: black, $alpha: 0.2);
    backdrop-filter: blur(15px);
    border-radius: 30px 0 0 30px;
    padding: 20px;

    img {
      filter: invert(100%) brightness(10);

      @media (max-height: 880px) {
        width: 50%;
        height: 50%;
      }

      @media (max-width: 1300px) {
        width: 75%;
        height: 50%;
        display: flex;
        align-self: center;
      }
    }

    @media (max-width: 1465px) {
      gap: 20px;
    }

    @media (max-height: 880px) {
      //padding: 15px;
      gap: 15px;
      font-size: 0.9rem;
    }

    @media (max-width: 1300px) {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      gap: 10px;
      border-radius: unset;
      overflow-x: hidden;
      overflow-y: auto;
    }
  }

  h3 {
    font-size: 1.1rem;
    margin-bottom: 5px;

    @media (max-height: 880px) {
      font-size: 1rem;
      margin-bottom: 3px;
    }
  }

  p {
    margin-bottom: 3px;

    //@media (max-height: 880px) {
    //  margin-bottom: 3px;
    //}

    span {
      margin-left: 5px;

      &.red {
        color: red;
        padding-top: 0.5px;
      }
    }
  }

  .description {
    padding: 20px;
    border: 1px solid rgba($color: white, $alpha: 0.2);
    border-radius: 20px;

    @media (max-height: 880px) {
      padding: 10px;
      border-radius: 10px;
    }
  }

  ul {
    margin-top: 10px;
    padding-left: 18px;

    li {
      margin-bottom: 5px;
    }
  }

  button.blue {
    width: 192px;
    font-weight: 400;
    border-radius: 30px;
    padding: 10px 15px;

    @media (max-width: 1300px) {
      width: 100%;
      display: flex;
      justify-content: center;
      align-self: center;
    }
  }
}
