.gallery-switch {
  position: absolute;
  top: 54px;
  left: 50%;
  transform: translate(-45%, 0) scale(var(--scale));

  display: inline-block;
  width: 220px;
  height: 34px;
  cursor: pointer;

  input {
    opacity: 0;
    width: 0;
    height: 0;

    &:checked {
      +.slider:before {
        left: 51%;
      }

      ~.text p {
        &:first-child {
          color: white;
        }

        &:last-child {
          color: black;
        }
      }
    }
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    border: 1px solid white;

    &:before {
      position: absolute;
      content: "";
      width: 50%;
      height: 34px;
      left: -1px;
      background-color: white;
      transition: left 0.3s ease-in-out;
    }

    &.round {
      border-radius: 40px;

      &::before {
        border-radius: 40px;
      }
    }
  }

  .text {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;

    p {
      text-align: center;
      width: 50%;
      transition: color 0.3s ease-in-out;

      &:last-child {
        color: white;
      }
    }
  }
}
