:root {
  --scale: 1;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-Bold.eot');
  src: url('./assets/fonts/CerebriSansPro-Bold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-Bold.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-Bold.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-Bold.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-Bold.svg#CerebriSansPro-Bold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-ExtraBold.eot');
  src: url('./assets/fonts/CerebriSansPro-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-ExtraBold.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-ExtraBold.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-ExtraBold.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-ExtraBold.svg#CerebriSansPro-ExtraBold') format('svg');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-ExtraLight.eot');
  src: url('./assets/fonts/CerebriSansPro-ExtraLight.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-ExtraLight.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-ExtraLight.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-ExtraLight.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-ExtraLight.svg#CerebriSansPro-ExtraLight') format('svg');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-SemiBold.eot');
  src: url('./assets/fonts/CerebriSansPro-SemiBold.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-SemiBold.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-SemiBold.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-SemiBold.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-SemiBold.svg#CerebriSansPro-SemiBold') format('svg');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-Thin.eot');
  src: url('./assets/fonts/CerebriSansPro-Thin.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-Thin.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-Thin.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-Thin.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-Thin.svg#CerebriSansPro-Thin') format('svg');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-Light.eot');
  src: url('./assets/fonts/CerebriSansPro-Light.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-Light.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-Light.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-Light.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-Light.svg#CerebriSansPro-Light') format('svg');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-Heavy.eot');
  src: url('./assets/fonts/CerebriSansPro-Heavy.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-Heavy.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-Heavy.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-Heavy.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-Heavy.svg#CerebriSansPro-Heavy') format('svg');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-Medium.eot');
  src: url('./assets/fonts/CerebriSansPro-Medium.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-Medium.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-Medium.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-Medium.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-Medium.svg#CerebriSansPro-Medium') format('svg');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Cerebri Sans Pro';
  src: url('./assets/fonts/CerebriSansPro-Regular.eot');
  src: url('./assets/fonts/CerebriSansPro-Regular.eot?#iefix') format('embedded-opentype'),
    url('./assets/fonts/CerebriSansPro-Regular.woff2') format('woff2'),
    url('./assets/fonts/CerebriSansPro-Regular.woff') format('woff'),
    url('./assets/fonts/CerebriSansPro-Regular.ttf') format('truetype'),
    url('./assets/fonts/CerebriSansPro-Regular.svg#CerebriSansPro-Regular') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Cerebri Sans Pro', sans-serif;
  min-width: 100svw;
  min-height: 100svh;
  overflow: hidden;
}

#root {
  min-width: 100svw;
  min-height: 100svh;
}

#canvas-container {
  width: 100svw;
  height: 100svh;
  position: fixed;
}

#leva__root>* {
  width: 350px;
}

button {
  all: unset;
  text-align: center;
  cursor: pointer;

  &.default {
    color: white;
    text-transform: uppercase;
    border: 1px solid white;
    transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;

    &:hover {
      background-color: #009FA4;
      border-color: #009FA4;
    }
  }

  &.blue {
    color: white;
    text-transform: uppercase;
    background-color: #009FA4;
    border: 1px solid transparent;
    transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

    &:hover {
      background-color: transparent;
      border: 1px solid white;
    }
  }

  //&.back-to-map {
  //  position: fixed;
  //  bottom: 40px;
  //  left: 40px;
  //  color: white;
  //  background-color: black;
  //  padding: 15px 30px;
  //  border: 1px solid black;
  //  border-radius: 10px;
  //  transition: all 0.3s ease-in-out;

  //  &:hover {
  //    color: black;
  //    background-color: white;
  //  }
  //}
}

a {
  all: unset;
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
