.scene-transition {
  position: absolute;
  bottom: 100%;
  z-index: 99999;
  width: 100svw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: black;
  color: white;
  font-size: 4rem;
  transition: bottom 1s ease-in-out;

  &.appear {
    bottom: 0;
  }

  .logo {
    width: 25%;
    filter: invert(100%) brightness(10);
    margin-bottom: 20px;
  }

  .loading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    max-width: 25%;
    font-size: 1.5rem;
    font-weight: 300;

    .progress {
      width: 0%;
      height: 2px;
      overflow: hidden;
      background-color: white;
    }
  }
}
