.building-info-pop-up {
  width: 392px;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  padding: 20px;
  border: 1px solid white;
  border-radius: 30px;
  scale: var(--scale);
  transform-origin: left;
  animation: 0.5s appear;

  @media (max-width: 800px) { 
    scale: 0.75;
  }

  .top-part {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

    .close {
      width: 14px;
      height: 14px;
      transition: all 0.3s ease-in-out;
      cursor: pointer;

      &:hover {
        fill: #009FA4;
      }
    }
  }

  p {
    font-weight: 400;
    margin-bottom: 3px;

    span.red {
      color: red;
    }
  }

  .blue {
    display: block;
    width: 130px;
    height: 35px;
    border-radius: 20px;
    margin-top: 15px;
  }

  @keyframes appear {
    from {
      transform: scaleY(0) translate3d(-50%, -50%, 0px);
    }

    to {
      transform: scaleY(1) translate3d(-50%, -50%, 0px);
    }
  }
}
